[submodule "vendor/amber"]
	path = vendor/amber
	url = https://github.com/amber-smalltalk/amber
[submodule "googlecharts"]
	path = googlecharts
	url = https://github.com/tomrake/googlecharts.git
[submodule "vendor/jstree"]
	path = vendor/jstree
	url = https://github.com/vakata/jstree.git
